---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

{% include base_path %}


Our main focus of research is to understand and describe different aspects of the preterm delivery process and child outcome, to explore the genetics and gene by environment interaction of timing of birth (including preterm delivery
and post term delivery).

We also aiming to explore basic epidemiological relations regarding preterm delivery and child outcome and to develop and test different methods for improving fetal medicine.

{% for post in site.research %}
  {% include archive-single.html %}
{% endfor %}

