/* ==========================================================================
   ARCHIVE
   ========================================================================== */

.archive {
  margin-bottom: 12rem;

  @include breakpoint($medium) {
    @include span(12 of 12);
  }

  @include breakpoint($large) {
    @include span(10 of 12 last);
    @include prefix(0.5 of 12);
  }

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: underline;

      img {
        box-shadow: 0 0 10px rgba(#000, 0.25);
      }
    }
  }
}

.archive__subtitle {
  margin: 1.414em 0 0;
  padding-bottom: 0.5em;
  color: mix(#000000, $body-color, 25%);
//  border-bottom: 1px solid $border-color;

  + .list__item .archive__item-title {
    margin-top: 0.5em;
    text-align: center;
  }
}

.archive__item-title {
  margin-bottom: 0.25em;
  font-family: $sans-serif-narrow;
  text-align: center;

  a + a {
    opacity: 0.5;
  }
}

.archive__item-subtitle {
  margin-bottom: 0.25em;
  font-family: $sans-serif-narrow;
  text-align: left;
  color: $title-color;
  font-weight: lighter;
  text-transform: uppercase;

  a + a {
    opacity: 0.5;
  }
}


.archive__item-link {
    /* Define the default link color and style */
    color: #ffff; /* Inherit the color from the parent */
    text-decoration: none; /* Remove underline */
}

// .archive__item-link:hover {
//     /* Define the link color and style on hover */
//     // color: #007bff; /* Change the color to blue on hover */
//     // text-decoration: underline; /* Underline the link on hover */
// }

/* remove border*/
.page__content {

  .archive__item-title {
    margin-top: 1em;
    border-bottom: none;
  }
}

.archive__item-excerpt {
  margin-top: 0;
  color: #ffff;
  font-size: $type-size-6;
  text-align: center;

  & + p {
    text-indent: 0;
  }
  & + img{
    width:auto;
  }
}

.archive__item-teaser {
  border-radius: $border-radius;
  overflow: hidden;
  text-align: -webkit-center;
  img {
    width: 80%;
  }
}

.archive__item:hover {
  .archive__item-teaser {
    box-shadow: 0 0 10px rgba(#000, 0.25);
  }

  .archive__item-title {
    text-decoration: underline;
  }
}


/*
   List view
   ========================================================================== */

.list__item {
  .archive__item-title{
    text-align: left;
    font-size: $type-size-3;
  }
  .archive__item-teaser {
    border-radius: $border-radius;
    overflow: hidden;
    text-align: right;
    & + img {
      width: 80%;
    }
  }

  @include breakpoint($medium) {
    padding-right: $right-sidebar-width-narrow;
  }

  @include breakpoint($large) {
    padding-right: $right-sidebar-width;
  }

  @include breakpoint($x-large) {
    padding-right: $right-sidebar-width-wide;
  }

  .page__meta {
    margin: 0 0 4px;
  }
}


/*
   Grid view
   ========================================================================== */

.grid__item {
  @include clearfix();
  margin-bottom: 2em;
  
  .author__item {
  margin-bottom: 2rem;
  font-size: 1em;
  padding-left: 1rem;
  padding-right: 1rem;

  @include breakpoint($small) {
    margin-bottom: 0;
    @include gallery(3 of 12);

    .author__item-teaser {
      max-height: 200px;
      max-width: auto;
      overflow: hidden;
    }
  }

  &--left {
    @include full();
    font-size: 1.25em;

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    @include breakpoint($small) {
      .archive__item-teaser {
        @include span(5 of 12);
      }

      .archive__item-body {
        @include span(7 of 12 last);
        @include prefix(0.5 of 12);
        @include suffix(1 of 12);
      }
    }
  }

  &--right {
    @include full();
    font-size: 1.25em;

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    @include breakpoint($small) {
      text-align: right;

      .archive__item-teaser {
        @include span(5 of 12 rtl);
      }

      .archive__item-body {
        @include span(7 of 12 last rtl);
        @include prefix(0.5 of 12);
        @include suffix(1 of 12);
      }
    }
  }

  &--center {
    @include full();
    font-size: 1.25rem;

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    @include breakpoint($small) {
      text-align: center;

      .archive__item-teaser {
        margin: 0 auto;
        width: span(5 of 12);
      }

      .archive__item-body {
        margin: 0 auto;
        width: span(7 of 12);
      }
    }
  }
  }
  .page__meta {
    margin: 0 0 4px;
  }

  .archive__item-title {
    margin-top: 0.5em;
    font-size: $type-size-5;
  }

  .archive__item-excerpt {
    display: none;
  }

  @include breakpoint($small) {
    @include gallery(5 of 10);
    .archive__item-teaser {
      max-height: 15em;
    }
  }

  @include breakpoint($medium) {
    margin-left: 0; /* reset before mixin does its thing*/
    margin-right: 0; /* reset before mixin does its thing*/
    @include gallery(2.5 of 10);

    .archive__item-teaser {
      width: 100%;
      max-height: 10em;
    }

    .archive__item-excerpt {
      display: block;
      font-size: $type-size-6;
    }
  }
  @include breakpoint($large) {
    margin-left: 0; /* reset before mixin does its thing*/
    margin-right: 0; /* reset before mixin does its thing*/
    @include gallery(2 of 10);

    .archive__item-teaser {
      width: 100%;
      max-height: 10em;
    }

    .archive__item-excerpt {
      display: block;
      font-size: $type-size-5;
    }
  }


}

/*
   Features
   ========================================================================== */

.feature__wrapper {
  @include clearfix();
  margin-bottom: 2em;
//  border-bottom: 1px solid $border-color;
}

  // .feature__wrapper-background {
  //     position: relative;
  //     margin-bottom: 2em;
  //     padding: 3em 0;
  //     @include clearfix;
  //     background-size: cover;
  //     background-repeat: no-repeat;
  //     background-position: center;
  //     animation: intro 0.3s both;
  //     animation-delay: 0.25s;
  // }


.feature__item {
  margin-bottom: 2rem;
  font-size: 1em;
  padding-left: 1rem;
  padding-right: 1rem;

  @include breakpoint($small) {
    margin-bottom: 0;
    @include gallery(3 of 12);

    .feature__item-teaser {
      max-height: 200px;
      max-width: auto;
      overflow: hidden;
    }
  }

  &--left {
    @include full();
    font-size: 1.25em;

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    @include breakpoint($small) {
      .archive__item-teaser {
        @include span(5 of 12);
      }

      .archive__item-body {
        @include span(7 of 12 last);
        @include prefix(0.5 of 12);
        @include suffix(1 of 12);
      }
    }
  }

  &--right {
    @include full();
    font-size: 1.25em;

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    @include breakpoint($small) {
      text-align: right;

      .archive__item-teaser {
        @include span(5 of 12 rtl);
      }

      .archive__item-body {
        @include span(7 of 12 last rtl);
        @include prefix(0.5 of 12);
        @include suffix(1 of 12);
      }
    }
  }

  &--center {
    @include full();
    font-size: 1.25rem;

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    @include breakpoint($small) {
      text-align: center;

      .archive__item-teaser {
        margin: 0 auto;
        width: span(5 of 12);
      }

      .archive__item-body {
        margin: 0 auto;
        width: span(7 of 12);
      }
    }
  }
}


/*
   People gallery
   ========================================================================== */

.author__wrapper {
  @include clearfix();
  margin-bottom: 2em;
//  border-bottom: 1px solid $border-color;
}

  // .feature__wrapper-background {
  //     position: relative;
  //     margin-bottom: 2em;
  //     padding: 3em 0;
  //     @include clearfix;
  //     background-size: cover;
  //     background-repeat: no-repeat;
  //     background-position: center;
  //     animation: intro 0.3s both;
  //     animation-delay: 0.25s;
  // }


